

.adContainer{
    border:solid #B9D0BA;
    background-color: #B9D0BA;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.leftArrow{
    /* border: solid red; */
    /* Delete this comment */
    height: 20px;
}
.adTxt{
    /* border:solid blue; */
    height: 20px;
}
.adLink{
    /* border:solid green; */
    height: 20px;
}
.rightArrow{
    /* border:solid red; */
    height: 20px;
}

.navBar{
    /* border: solid blue; */
    padding: 20px;
    display:flex;
    justify-content: space-between;
}
.mainLogo{
    height: 25px;
}
.nav2{
    border: solid lightgray;
    padding:10px;
    display:flex;
    justify-content: space-around;
}
.subscription{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.babyDiapers{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.wipes{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.bathBody{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.skincare{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.makeup{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.babyClothing{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.cleaning{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}
.giftsKits{
    background-color: transparent;
    border: transparent;
    font-weight: 650;
    font-size:100%;
}

.mainPic{
    width: 100%;
}
.firstCategory{
    /* border: solid red; */
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}
.sensitiveSkin{
background-color: transparent;
margin-top: 10px;
border: transparent;
font-weight: 650;
font-size:175%;
font-family: Arial, Helvetica, sans-serif;
}
.shopAll{
    border-top-style: ridge;
    background-color: transparent;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 100%;
}
.firstCategoryItems{
    border:solid #B9D0BA;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.tenOzHealing{
    border-color: red;
    border:solid red;
    height: auto;
}
.newbornBathingKit{
    border-color: red;
    border:solid red;
    height: auto;
}
.fiveOzHealing{
    border-color: red;
    border:solid red;
    height: auto;
}
.shampooBodyWash{
    border-color: red;
    border:solid red;
    height: auto;
}