

.adContainer{
    border:solid #B9D0BA;
    background-color: #B9D0BA;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.leftArrow{
    /* border: solid red; */
    /* Delete this comment */
    height: 20px;
}
.adTxt{
    /* border:solid blue; */
    height: 20px;
}
.adLink{
    /* border:solid green; */
    height: 20px;
}
.rightArrow{
    /* border:solid red; */
    height: 20px;
}

.navBar{
    /* border: solid blue; */
    padding: 20px;
    display:flex;
    justify-content: space-between;
}
.mainLogo{
    height: 25px;
}
.mainPic{
    width: 100%;
}